body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcd5d4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: #fc5a4e;
}

.homelogo {
  font-weight: bold;
  font-size: 2.5em;
}

.dashboard {
  font-weight: bold;
}

.pale {
  background-color: #fcd5d4;
}

.inputvar {
  font-size: 1em;
}

.brightred {
  background-color: #fc5a4e;
  color: #ffffff;
}
